asgiref==3.7.2
certifi==2023.7.22
click==8.1.7
dnspython==2.4.2
fastapi==0.68.2
h11==0.14.0
minio==7.1.17
pydantic==1.10.12
pymongo==4.5.0
starlette==0.14.2
typing_extensions==4.8.0
urllib3==2.0.5
uvicorn==0.15.0
